<div class="sidebar">
    <div class="option">
        <a  id="option_a" class="option_a">Option</a>
    </div>
    <div class="quantity">
        <a><label for="quantity">Quantity</label></a>
        <input id="quantity" type="number" placeholder="Type here" min="0">
    </div>
</div>
<div class="sidebar2 active" id="sidebar2">
    <div class="dropdown" id="dropdown"> 
        <span>Dropdown</span>
        <div class="dropdown-content">
            <p id="itemA">A</p>
            <p id="itemB">B</p>
        </div>
    </div>
</div>
