<%- include('partials/head'); %>
<body>
    <%- include('partials/sidebar'); %>
    <div class="container" id="container">
        <div class="cotaniner_content">
            <div class="itens" id="itens">
                <!-- <div class="itens-content">
                    <div class="number">1</div>
                    <div class="name">Item A1</div>
                </div>
                <div class="itens-content">
                    <div class="number">2</div>
                    <div class="name">Item A1</div>
                </div>
                <div class="itens-content">
                    <div class="number">3</div>
                    <div class="name">Item A1</div>
                </div> -->
                <!-- <div class="itens-angle" id="angle">
                    <div class="angle">
                        <i class="fas fa-angle-left" id="left"></i>
                        <i class="fas fa-angle-right" id="right"></i>
                    </div>
                </div> -->
            </div>
            
        </div>        
    </div>
</body>
<%- include('partials/footer'); %>
